{% extends "base.html" %}

{% block login %}
    <div class="login">
        <h2>Logowanie do systemu</h2>
        <form action="/login" method="post">{% csrf_token %}
            {% for field in auth_form %}
            {{ field }}<br />        
            {% endfor %} 
            <input type="submit" value="Zaloguj">
        </form>

        {% if auth_form.non_field_errors %}
            {{ auth_form.non_field_errors }}
        {% endif %}
    </div>
{% endblock %}

{% block user-info %}{% endblock %}
