<html>
<head>
    <title>swiadectwo</title>
</head>
<body style="width: 50%">
<img src="http://img197.imageshack.us/img197/8002/xn5l.jpg">
<form>
<input type="text" name="imie_(imiona)_i_nazwisko" style="position:absolute; left:620px; top:1183px; width:1262px; height:44px; font-size:30px;" value = "Anna Abcaka">
<input type="text" name="data_urodzenia" style="position:absolute; left:445px; top:1338px; width:460px; height:44px; font-size:30px;">
<input type="text" name="miejsce_urodzenia" style="position: absolute; left: 1017px; top: 1338px; width:461px; height:44px; font-size:30px;">
<input type="text" name="numer_pesel" style="position: absolute; left: 1590px; top: 1340px; width:461px; height:44px; font-size:30px;">
<input type="text" name="plec" style="position: absolute; left: 622px; top: 1490px; width:75px; height:44px; font-size:30px;">
<input type="text" name="rok_szkolny" style="position: absolute; left: 1016px; top: 1490px; width:461px; height:44px; font-size:30px;">
<input type="text" name="klasa" style="position: absolute; left: 1646px; top: 1490px; width:403px; height:44px; font-size:30px;">
<input type="text" name="nazwa_szkoly" style="position: absolute; left: 445px; top: 1610px; width:1605px; height:44px; font-size:30px;">
<input type="text" name="nr" style="position: absolute; left: 492px; top: 1840px; width:250px; height:44px; font-size:30px;">
<input type="text" name="im" style="position: absolute; left: 822px; top: 1840px; width:1227px; height:44px; font-size:30px;">
<input type="text" name="miejscowosc" style="position: absolute; left: 485px; top: 2071px; width:633px; height:44px; font-size:30px;">
<input type="text" name="wojewodztwo" style="position: absolute; left: 1220px; top: 2071px; width:833px; height:44px; font-size:30px;">
<input type="text" name="nie" style="position: absolute; left: 752px; top: 2185px; width:101px; height:44px; font-size:30px;">
<input type="text" name="plec2" style="position: absolute; left: 1020px; top: 2185px; width:57px; height:44px; font-size:30px;">
<input type="text" name="promocja" style="position: absolute; left: 1238px; top: 2185px; width:55px; height:44px; font-size:30px;">
<input type="text" name="nowa_klasa" style="position: absolute; left: 1455px; top: 2185px; width:306px; height:44px; font-size:30px;">
<input type="text" name="miejscowosc_wpisu" style="position: absolute; left: 445px; top: 2472px; width:737px; height:44px; font-size:30px;">
<input type="text" name="data_wpisu" style="position: absolute; left: 1300px; top: 2472px; width:720px; height:44px; font-size:30px;">
<input type="text" name="Nr" style="position: absolute; left: 505px; top: 2765px; width:360px; height:44px; font-size:30px;">
</form>
</body>
</html>