{% extends "base.html" %}

{% block content %}
    <div class="wrapper">
        <p>Wypełnij dodatkowe dane ucznia</p>  
        <div class="user-add-form">
            <form action="" method="post">{% csrf_token %}          
                {% for field in uczen_form %}
                    {{ field.label }} {{ field }}
                    <br />            
                {% endfor %}
                                             
                <input type="submit" value="Zapisz" />
            </form>
        </div>
    </div>
{% endblock %}
